/*
  You can use import statements to include partials:
 */

@import "imports/reset.css";

/*
  Or add your statements here:
 */

body {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  text-align: center;
  color: #145793;
  /* background: url('/images/GLH_LOGO_2A.svg') center center fixed no-repeat; */
  background-size: contain;
  overflow-x: hidden;
}


.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 10rem;
  padding-top: 5rem;
}

svg#lighthouse {
  height: 35rem;
}

#george {
  position: absolute;
  bottom: 4rem;
  right: 2rem;
  display: block;
  text-align: left;

}

#george>svg {
  width: 120px;
  height: auto;
  display: block;
  margin: 0 auto;
}

div.george {
  padding-left: 2rem;
  font-size: 1rem;
  letter-spacing: .5rem;
  color: #dc3a58;
  font-family: 'Caveat', cursive;
  text-align: right;
  text-transform: uppercase;
  transform: rotate(-20deg);
  -ms-transform: rotate(-20deg); /* IE 9 */
  -webkit-transform: rotate(-20deg); /* Chrome, */
}

p, address {
  text-transform: uppercase;
}

/* Montauk Title */

div.title {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  bottom: 3rem;
}

h2 {
  color: #dc3a58;
  font-family: 'Caveat', cursive;
  text-transform: uppercase;
  position: relative;
  left: -50%;
}




/* Borders                      */
#top,
#bottom,
#left,
#right {
  border: 1px solid #145793;
  position: fixed;
}

#left,
#right {
  top: 0;
  bottom: 0;
  width: 15px;
}

#left {
  left: 0;
}

#right {
  right: 0;
}

#top,
#bottom {
  left: 0;
  right: 0;
  height: 15px;
}

#top {
  top: 0;
}

#bottom {
  bottom: 0;
}

@media
/* Fairly small screens including iphones */

only screen and (max-width: 500px),

/* iPads */

only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
     background: url('/images/GLH_LOGO_2A.svg') center center fixed no-repeat;
     background-size: fit;
  }


  
  #top,
  #bottom,
  #left,
  #right,
  #george,
  #lighthouse,
  h2 {
    display: none;
  }

  .right {
    padding-top: 18rem;
  }

  .info > div {
    width: 100%;
  }
}