/*
  You can use import statements to include partials:
 */

@import "imports/reset.css";

/*
  Or add your statements here:
 */

body {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  text-align: center;
  color: #145793;
  /* background: url('/images/GLH_LOGO_2A.svg') center center fixed no-repeat; */
  background-size: contain;
 overflow: hidden;
}

#header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info {
  color: #1a71bc;
}

.info hr {
  display: none;
}

.left, .right {
  padding-bottom: 10rem;
}


#lighthouse {
  width:50rem;
}

.lighthouse-draw {
  fill: none;
  stroke: #145693;
  stroke-width: .25;
}

#lighthouse-main{
  
  stroke-dasharray: 5042.68;
  stroke-dashoffset: 5042.68;  
}

#george {
  position: absolute;
  bottom: 0rem;
  right: 3.5rem;
  display: block;
  text-align: left;
}

#george>svg {
  width: 120px;
  height: auto;
  display: block;
  margin: 0 auto;
}

div.george {
  padding-left: 2rem;
  font-size: 1rem;
  letter-spacing: .5rem;
  color: #dc3a58;
  font-family: 'Caveat', cursive;
  text-align: right;
  text-transform: uppercase;
  transform: rotate(-15deg);
}

p, address {
  text-transform: uppercase;
}

/* Montauk Title */

div.title {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  bottom: 3rem;
}

h2 {
  color: #dc3a58;
  font-family: 'Caveat', cursive;
  text-transform: uppercase;
  position: relative;
  left: -50%;
}




/* Borders                      */
#top,
#bottom,
#left,
#right {
  border: 1px solid #145793;
  position: fixed;
  z-index: -1000;
}

#left,
#right {
  top: 0;
  bottom: 0;
  width: 15px;
}

#left {
  left: 0;
}

#right {
  right: 0;
}

#top,
#bottom {
  left: 0;
  right: 0;
  height: 15px;
}

#top {
  top: 0;
}

#bottom {
  bottom: 0;
}

@media only screen and (max-width: 1200px) {
  body {
     overflow: auto;
     overflow-x: hidden;
  }
  
  #top,
  #bottom,
  #left,
  #right,
  h2 {
    display: none;
  }

  .info hr {
    display: block;
    width: 50%;
    background-color: #dc3a58;
  }

  .left {
    padding-bottom: 2rem;
  } .right {
    padding-top: 2rem;
    padding-bottom: 2rem;
    
  }

  #george {
    position: relative;
    display: block;
    padding-top: 5rem;
  }

  #lighthouse {
    width: 100%;
  }

  .lighthouse {
    order: -1;
  }

  .row {
    width: 100%;
  }
  .info>div {
    width: 100%;
  }
}